body{
    background-color:#1f542d ;
}


h1{
    position: absolute;
    left:5%;
    top: 10%;
    font-size: 40px;
    color: white;
}

.search{
   
    position: absolute;
    left:10%;
    top: 25%;


}

.search input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: 2px soild gray ;
    font-size: 27px;
    width:1050px;
  }

.container{
    display: flex;
    background-color: azure;
    height:500px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 300px;
    margin-left: 60px;
    margin-right: 60px;

}

.item{
    background-color: blueviolet;
    opacity: 0.3;
  height:250px;
  
}

.item2{
    flex-grow: 2;
    border: 3px solid rgba(0, 0, 0, 0.6);
}

.item1{
    flex-grow: 1;
    border: 3px solid rgba(0, 0, 0, 0.6);
}

.item3{
    flex-grow: 1;
    border: 3px solid rgba(0, 0, 0, 0.6);
}

.item4{
    flex-grow: 1;
    border: 3px solid rgba(0, 0, 0, 0.6);
}


/* @media only screen  and (min-width:100px) and (max-width:1000px){
    body{
     background-color: rgb(218, 235, 109);
    }
 
    .search input[type=text]{
     width:300px;
     font-size: 25px;
    }
    .container{
        margin-left: 40px;;
        display: inline-flex;
        flex-wrap: wrap; 
        gap: 12px;
       width:auto;
       height:auto;
        align-items: center;
        justify-content: space-between;
        background-color: bisque;

    }

    .item{
      background-color:azure;
      opacity: 0,5;
      border:2px solid rgb(232, 225, 210);
      height: 400px;
     width:300px;
       /* width: 200px;
      height: 200px;  */
    /* margin:20px;
  
  
    }
    h1{
     font-size: 30px;
    }
   } */

   @media only screen and(min-width:820px) and (max-width:1100px){
    body{
     background-color: rgb(215, 234, 96);
    }
 
    .search{
   
      position: absolute;
      left:10%;
      top: 25%;
  
  
  }
    .search input[type=text]{
     width:400px;
     font-size: 25px;
    }
    .container{
      position: absolute;
      top:15%;
        margin-left: 10px;
        margin-right:10px ;
        display: inline-flex;
        flex-wrap: wrap;
        gap: 12px;
       width:800px;
       height:700px;
        align-items: center;
        justify-content: space-between;

    }
    h1{
     font-size: 30px;
    }
    
 
       .item{
        margin:5px;
         background-color: blueviolet;
         opacity: 0.3;
       height:270px;
       width: 140px;;
       
   }
}


   
 
 
   @media only screen  and( min-width:450px),(max-width:800px){

     body{
       background-color: rgb(144, 215, 192);
      }

      h1{
        font-size: 30px;
        position: absolute;
        top:5%;
      }
      .search{
      width: 400px;
       position: absolute;
       left:5%;
       top: 15%;
      }
   
   
      .search input[type=text]{
        position: absolute;
       left:5%;
       top: 15%;;
       width:400px;
       font-size: 15px;
      }
      .container{
      
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-self: center;
       width:500px;
     
       /* flex-wrap: wrap; */
       gap: 12px;
      }

      .item{
     margin:10px;
        background-color: blueviolet;
        opacity: 0.3;
      height:50px;
      width: 300px;
    
      
    }
    
      h1{
       font-size: 25px;
      }
     }
   
 
     @media only screen  and (max-width:400px){
       body{
         background-color: rgb(46, 91, 77);
        }
        .search{
        
        width: 200px;
         position: absolute;
         left:20%;
         top: 20%;
        }
     
     
        .search input[type=text]{
         width:200px;
         font-size: 15px;
        }
        .container{
        
          height:900px;
            display: flex;
            align-items: center;
            padding:30px;
         width:200px;
         flex-direction: column;
         flex-wrap: wrap;
         /* flex-wrap: wrap; */
         gap: 12px;
        }

       
        h1{
         font-size: 25px;
        }
       
 
       .item{
        background-color: blueviolet;
        opacity: 0.3;
      height:40px;
      width: 100px;;
      
    }
}